@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}

.navbar-brand{
    height:1rem;
  }
.navigations{
  background-color: rgb(13, 49, 83);
}
.navigations ul{
  padding-left: 3.5rem;
}

#navbarNavDropdown ul li a{
  font-size: 1.3rem;
  color:azure;
  font-family: ubuntu;
  padding-left: 2rem;
}
#navbarNavDropdown ul li a:hover{
  color:rgba(89, 174, 231, 0.726);
  
}
.nav-link{
  text-decoration: none;
  list-style: none;
}
.page-icon{
    font-size: 2rem;  
    color:rgba(3, 3, 3, 0.9);
}
.title{
    font-size:2rem;
    font-family: ubuntu;
    letter-spacing: 1px;
    color:rgba(13, 49, 70, 0.9);
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem; 
    background-color: rgb(13, 49, 83);
  }



  /* *********SignIN FORM  *************/
  .frame{
    position: relative;
    overflow: hidden;
  }
  .signin-frame{
    position: relative;
    width:90%;
    padding: 3rem;
    border-radius: .5rem;
    background: rgba(13, 49, 83);
    margin:4.8rem auto;
  }
  
  .br-10{
    border-radius:10rem;
    color:rgba(13, 49, 83);
    background-color: #BDC3C8;
  }

  .bg-circle1{
    position: absolute;
    width: 280px;
    height: 280px;
    top: -100px;
    right:-50px;
    background: rgba(13, 49, 83);
    border-radius: 20rem;
  } 
  .bg-circle1_1{
    position: absolute;
    width: 230px;
    height: 230px;
    top: -100px;
    right:30px;
    background: rgba(255, 255, 255, 0.205);
    border-radius: 20rem;
  } 
  .sm-circle1{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 220px;
    right: -34px;
    border-radius:10rem;
    background: rgba(13, 49, 83, 0.85);
  }
  .bg-circle2{
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: -150px;
    left:-40px;
    background: rgba(13, 49, 83, 0.85);
    border-radius: 20rem;
  } 
  .sm-circle2{
    position: absolute;
    width: 100px;
    height: 100px;
    left: -34px;
    bottom: 200px;
    border-radius:10rem;
    background: rgba(13, 49, 83, 0.85);
  }

  .container40 {
    width: 40%;
  }
  .container75{
    width:75%;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .signin-btn{
    background-color: rgb(13, 49, 83);
    color:white;
    border:2px solid white;
    border-radius: 10rem;
    padding:.3rem 2.5rem;
  }
  .signin-btn:hover{
    background-color: rgba(255, 255, 255, 0.973);
    color:rgb(13, 49, 83);
    border: 2px solid rgb(255, 255, 255);
  }
  .signin-user-icon{
    font-size:4rem;
    color: #BDC3C8;
  }

  /* ******************Signup FROM*************** */
  .signup-frame{
    position: relative;
    width:90%;  
    padding:2rem;
    border-radius: .5rem;
    background: rgba(13, 49, 83);
    margin:4.8rem auto;
  }
  .signup-btn{
    background-color: rgb(13, 49, 83);
    color:white;
    border:2px solid white;
    border-radius: 10rem;
    padding:0.6rem 2.5rem;
  }
  .signup-user-icon{
    font-size:4rem;
    color: #BDC3C8;
  }

  .form-signin label{
    color:white;
    margin-left:1rem;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  

  
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
.card{
  background-color: rgb(13, 49, 83);
}
.card text{
  color:white;
  text-align: center;
  padding-top:2rem;
}
.card p{
  color:white;
}
  
  .color{
    color:rgb(248, 248, 248);
  }

  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color:rgb(13, 49, 83);

  }
  
  footer p {
    margin-bottom: .25rem;
  }

  .backtotop{
    position:fixed;
    bottom:3rem;
    right:3rem;
  }

  .backtotop i:hover{
    transition-timing-function: ease;
    transition-duration: 0.2s;
    transform: scale(1.2);
    transition-delay: 0.2s;

  }


  @keyframes example {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);

    }
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


/* Coursessss page styles */

.main-courses{
  margin: 1rem 5rem ;
}
.main-courses a{
  text-decoration: none;
}

.box-blue{
  height:12rem;
  background-color:#0d3153;
  color:aliceblue;
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin:1rem;
  border-radius:1rem;
}
.box-blue:hover{
  background-color:#175a99;
}
.box-white{
  height:12rem;
  background-color:rgb(199, 191, 245);
  color:#0d3153;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:1rem;
  border-radius:1rem;

}
.box-white:hover{
  background-color:rgb(104, 126, 133); 
  color:#bae1f0;
}


/* Main About */

.main-about{
  margin:1rem 4rem;
}


.container-sm{
  height:15rem;
  background: #0D3153;

}
.container-bg{
  height:15rem;
  background: #0D3153;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.container-text{
  font-size:2rem;
}

/* ABOUT MEEEEE */


.profile-img{
  border: 2px solid white;
  border-radius:12rem;
}

.nav-item{
  border-bottom:2px solid rgba(13, 49, 70, 0.9);
}
